/*Oi com exceção de uma borda pontilhada na classe beon-container, é eu não alterei nada no código.
/*Eu criei um arquivo de estlização style.css na mesma pasta do sample.html, e declarei ele abaixo do padrão declarado(beon), que é pra ele ser excutado por último e assim 
sobrescrever as configurações do beon.
/*E a partir dai eu fui nos elementos chaves onde eram necessarias as novas estilizações, e em todos eles eu peguei a ultima 
classe declarada, e sobrescrevi com as novas estilizações, então eu fiz toda a estilização nas classes já existentes sobrescrevendo-as 
eu não escrevi nenhuma classe nova;
eu poderia incluir a tag <b> no titulo pra colocar em bold a palavra carrocel em "Showcase <b> carousel </b>  default slider, mas não o fiz, devido ao regulamento.
*/

/*Variáveis */
:root {
    --borderButton: #0aeec2;
    --verde: #4cbca7;
    --vermelho: #d20b42;
    --branco: #fff;
    --textGray: #838383;
    --textBlack: #212529;
  }

/* ajusta o tamanho e o positionamento da caixa principal da página*/
.beon-slider{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.beon-slider .tns-ovh{
    width: 100%;
    margin:0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}    

.tns-ovh .tns-inner{
    width: calc(100% - 100px);
}

/* Percentual de desconto arrendonda a caixa e posiciona*/
.beon-slider .beon-showcase__item-badge--off{
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px;
    padding-top: 8px;
    padding-bottom: 14px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--vermelho);
}

/* Percentual desativa a visualização do valor da em dinheiro do desconto*/
.beon-slider .beon-showcase__item-badge--off-value{
    display: none;
}

.beon-slider .beon-showcase__item-badge--off-value .currency{
    display: none;
}

.beon-slider .beon-showcase__item-badge--off-value .value{
    display: none;
}

.beon-slider .beon-showcase__item-badge--off .percent{
    display: block;
    text-align: center;
}

.beon-slider .beon-showcase__item-badge--off .null{
    display: block;
    text-align: center;
}

.beon-slider .beon-showcase__item-image {
    margin-top: 0px;
    height: 320px;
    width: 260px;
    padding: 10px;
}

.beon-slider .beon-showcase__item-image img{
    margin-top: -12px;
    width: 100%;
}

.beon-showcase__item-title a span{
    position: absolute;
    margin-top: 340px;
    font-size: 16px;
    width: 95%;
    font-weight: 420;
    white-space: pre-wrap;
    color: var(--textBlack);
}

.beon-showcase__item-price-box--special, .beon-showcase__item-price-box--simple{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.beon-showcase__item-price--from{
    display: block;
    width: 100%;
    margin-top: 10px;
    text-decoration:line-through;
}

.beon-showcase__item-price--to{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    width: fit-content;
}

.beon-showcase__item-installments{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 6px;
    width: 47%;
    margin-top: 5px; 
    color:var(--textGray);
}

.beon-showcase__price span:nth-child(1), .beon-showcase__price span:nth-child(2){
    color: var(--verde);
    font-size: 14px;
}

.beon-showcase__item-price--from span:nth-child(1), .beon-showcase__item-price--from .beon-showcase__price span:nth-child(2){
    color:var(--textGray);
}

.beon-showcase__item-price--to span:nth-child(1){
color:var(--textGray);
}

.beon-showcase__item-price--to .prefix{
display: none;
    }
    
.beon-showcase__item-price--to span:nth-child(2) span:nth-child(2), 
.beon-showcase__item-price--to span:nth-child(2) span:nth-child(1),
.beon-showcase__item-price--to span:nth-child(1){
    color: var(--verde);
}

.beon-button--primary{
    display: block;
    box-sizing: border-box;
    background-color: var(--branco);
    border-style: solid;
    border-color: var(--borderButton);
    border-width: 3px;
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 10px;
}

.beon-showcase__head{
    display: none;
}

.priceFinalParcelado{
    display: none;
 }


 .beon-showcase__item-price-box--simple{
    margin-top: 36px;
}

.beon-showcase__item-price-box--simple span:first-child span:first-child{
    margin-top: 3px;
}

.beon-slider .tns-nav button[data-nav].tns-nav-active{
    background-color: transparent;
    box-shadow: inset 0 0 0 2px var(--verde);
}

.beon-button__label--details{
    color: var(--textBlack);
}

.beon-showcase__item-price-box--special .beon-showcase__item-installments{
    margin-top: 7px;
}

.beon-interaction__installmentPrice .value, .beon-interaction__installmentPrice  .currency{
    font-weight: lighter;
} 

.beon-showcase__item-installments .beon-interaction__installmentsCount{
    font-weight: lighter;
}